<main>
  <div class= "top_image">
  <p id="notice"></p>
  <div class="container-fluid bg-color-aqua">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
        <h1>
          <i class="fas fa-hot-tub"></i>
          <strong>Favorites Hot Spring</strong>
        </h1>
          <p>各地域のオススメの温泉を投稿するサイトです</p>
          <p></p>
          <p></p>
      </div>
    </div>
  </div>
  </div>
</main>